<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.teach.mapper.ex.AllSurveyMapper">
    <resultMap id="abb" type="com.lut.teach.bean.ex.ResultEx">
        <result column="tname" property="tname"></result>
        <result column="cname" property="cname"></result>
        <result column="ename" property="ename"></result>
        <result column="sdate" property="sdate"></result>
        <result column="dname" property="dname"></result>
        <result column="qname" property="qname"></result>
        <result column="code" property="code"></result>

    </resultMap>
    <select id="selectDCCQ" resultMap="abb">
    select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate,s.code code
    from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
    where s.department_id=d.id
    and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
    and (d.name like #{word} or e.name like #{word} or
    c.name like #{word} or q.name like #{word})
    </select>

    <select id="selectDepart" resultMap="abb">
        select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate,s.code code
    from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
    where s.department_id=d.id
    and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
    and d.name like #{word}
    </select>

    <select id="selectClazz" resultMap="abb">
        select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate,s.code code
    from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
    where s.department_id=d.id
    and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
    and c.name like #{word}
    </select>

    <select id="selectCourse" resultMap="abb">
        select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate,s.code code
    from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
    where s.department_id=d.id
    and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
    and e.name like #{word}
    </select>

    <select id="selectQusetionnaire" resultMap="abb">
        select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate,s.code code
    from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
    where s.department_id=d.id
    and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
    and q.name like #{word}
    </select>

    <select id="findAll" resultMap="abb">
        select t.name tname,c.name cname,e.name ename,d.name dname,q.name qname,s.surveyday sdate
        from briup_survey s,briup_department d,briup_course e,briup_clazz c,briup_questionnaire q,briup_teacher t
        where s.department_id=d.id
        and s.course_id=e.id and s.clazz_id=c.id and s.questionnaire_id=q.id and s.user_id=t.id
        and s.status ='审核通过'
    </select>
</mapper>