<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.teach.mapper.ex.ClazzExMapper">
    <resultMap id="cdt" type="com.lut.teach.bean.ex.ClazzEx">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" property="name" />
        <result column="serve_number" property="serveNumber" />
        <result column="student_number" property="studentNumber" />
        <result column="description"  property="description" />
        <association property="department" column="department_id" select="sd"></association>
        <association property="teacher" column="teacher_id" select="st"></association>
    </resultMap>
    <resultMap id="sde" type="com.lut.teach.bean.ex.DepartmentEX">
        <id column="id" property="id" />
        <result column="name"  property="name" />
        <result column="description"  property="description" />
        <association property="region"  column="region_id" select="sr"></association>
    </resultMap>

    <select id="selectAll" resultMap="cdt">
         select * from briup_clazz
    </select>
    <select id="sd" resultMap="sde">
        select * from briup_department where id = #{id}
    </select>
    <select id="st" resultType="com.lut.teach.bean.Teacher">
        select * from briup_teacher where id = #{id}
    </select>
    <select id="sr" resultType="com.lut.teach.bean.Region">
        select * from briup_region where id=#{id}
    </select>
    <select id="selectNameOrDescription" resultMap="cdt">
        select * from briup_clazz where author like #{word} or name like #{word}
    </select>
    <select id="selectName" resultMap="cdt">
        select * from briup_clazz where name like #{word}
    </select>
    <select id="selectDescription" resultMap="cdt">
        select * from briup_clazz where description like #{word}
    </select>
</mapper>