<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.teach.mapper.ex.CourseExMapper">
    <resultMap id="cdt" type="com.lut.teach.bean.ex.CourseEx">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" property="name" />
        <result column="period" property="period" />
        <result column="description"  property="description" />
    </resultMap>

    <select id="selectAll" resultMap="cdt">
         select * from briup_course
    </select>
    <select id="selectNameOrDescription" resultMap="cdt">
        select * from briup_course where description like #{word} or name like #{word}
    </select>
    <select id="selectName" resultMap="cdt">
        select * from briup_course where name like #{word}
    </select>
    <select id="selectDescription" resultMap="cdt">
        select * from briup_course where description like #{word}
    </select>
</mapper>