<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.teach.mapper.ex.SurveyEXMapper">
    <resultMap id="survey" type="com.lut.teach.bean.ex.SurveyEX">
        <id column="id" property="id"></id>
        <result column="status" property="status"></result>
        <result column="code" property="code" ></result>
        <result column="surveyday"  property="surveyday"></result>
        <association property="clazz" column="clazz_id" select="selectclazz"></association>
        <association property="course" column="course_id" select="selectcourse"></association>
        <association property="questionnaire" column="questionnaire_id" select="selectquestionnaire"></association>
        <association property="teacher" column="teacher_id" select="selecteacher"></association>

        <association property="questionnaireEX"
                    column="questionnaire_id"
                    select="qnid"></association>
    </resultMap>

    <resultMap id="qn" type="com.lut.teach.bean.ex.QuestionnaireEX">
        <id column="id"  property="id"></id>
        <result column="name"  property="name"></result>
        <result column="date"  property="date"></result>
        <result column="description"  property="description"></result>
        <collection property="qqns"
                    ofType="com.lut.teach.bean.Qqn"
                    column="id"
                    select="selectQqn"></collection>
    </resultMap>

    <resultMap id="qqn" type="com.lut.teach.bean.ex.QqnEx">
        <id column="id" property="id" />
        <result property="questionId" column="question_id" ></result>
        <result column="questionnaire_id" property="questionnaireId" />
        <collection property="questionExs"
                    ofType="com.lut.teach.bean.ex.QuestionEX"
                    column="question_id"
                    select="squ"></collection>
    </resultMap>

    <resultMap id="question" type="com.lut.teach.bean.ex.QuestionEX">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <collection property="options"
                    ofType="com.lut.teach.bean.Options"
                    column="id"
                    select="so"></collection>
    </resultMap>
    <select id="findAll" resultMap="survey">
        select * from briup_survey
    </select>
    <select id="selectclazz" resultType="com.lut.teach.bean.Clazz">
        select * from briup_clazz where id=#{id}
    </select>
    <select id="selectcourse" resultType="com.lut.teach.bean.Course">
        select * from briup_course where id=#{id}
    </select>
    <select id="selectquestionnaire" resultType="com.lut.teach.bean.Questionnaire">
        select * from briup_questionnaire where id=#{id}
    </select>
    <select id="selectteacher" resultType="com.lut.teach.bean.Teacher">
        select * from briup_teacher where id=#{id}
    </select>

    <select id="showById" resultMap="survey">
        select * from briup_survey where id = #{id}
    </select>
    <select id="qnid" resultMap="qn">
        select * from briup_questionnaire where id = #{id}
    </select>
    <select id="selectQqn" resultMap="qqn">
        select * from briup_qqn where questionnaire_id = #{id}
    </select>
    <select id="squ" resultMap="question">
        select * from briup_question where id = #{id}
    </select>
    <select id="so" resultType="com.lut.teach.bean.Options">
        select * from briup_options where question_id=#{id}
    </select>
</mapper>